/* Установка фона для всей страницы */
body {
    background-image: url('automation.jpg'); /* Путь к изображению */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Цвет текста и контраста */
.markdown-body {
    color: #ffffff; /* Белый текст */
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный чёрный фон для контента */
    padding: 20px;
    border-radius: 10px;
}

/* Изменение цвета текста в шапке */
.md-header {
    color: white;
}

/* Изменение высоты шапки */
.md-header {
    height: 60px;
}

/* Изменение цвета фона шапки */
.md-header {
    background-color: #6200ea; /* Цвет индиго */
}

/* Изменение цвета ссылок в навигации */
.md-nav__link {
    color: rgb(14, 159, 243);
}

/* Изменение цвета активной ссылки */
.md-nav__link--active {
    color: #8866e4 !important; /* Жёлтый цвет */
    background-color: rgba(255, 141, 141, 0.1); /* Светлый фон */
    border-radius: 4px; /* Закруглённые углы */
    padding: 4px 8px; /* Отступы */
}

/* Стили для попапа */
.popup {
    background: rgb(231, 150, 181);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.popup h3 {
    margin: 0 0 5px;
    font-size: 16px;
}
.popup p {
    margin: 0;
    font-size: 14px;
}
